*{
  margin: 0;
     padding: 0;
}
body
{
     background-image:  url(file:///Users/washialhammadi/Documents/GitHub/the-MORSE/projectu%20folder/basicsPages/basicbg.jpg);
   
    /* background-color: #333; */
    /* linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), */
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px ;
} 
.main-nav li
{
    display: inline-block ;
}
.main-nav li a
{
color: white;
text-decoration: none;
padding: 5px 20px;
font-family: "Roboto",sans-serif;
font-size: 15px ;
}
.main-nav li.active a
{
    border: 1px solid white; 
}
.main-nav li  a:hover
{
    border :1px solid white
}
body
{
font-family: monospace;
}
.row{
    max-width:  1200px;
    margin: auto ;
}
.hero
{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0px;
    
}
h1
{
    color: white;
text-transform: uppercase;
font-size: 70px;
text-align: center;
margin-top: 575px;
margin-left: 200px;

}

.logo-img{

    width: 70px;
    
    height: 70px;
    
    border-radius: 60%;
    float: left;
    margin-top: 2px;
  margin-right: 100px;
    }
.duvi{
    padding-left: 100px;
    padding-right: 100px;
}
.liii{
    display: flex;
    justify-content: space-between;
   
}
   
   .imagi{
        border-radius: 50px;
        width: 250px;
        height: 240px;
        /* display: flex; */
        /* justify-content: space-between;   */
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.253);
        /* margin-top: 80px; */
  
      }
        .imagi:hover{
            transform: translateY(-20px);
            box-shadow: 0px 20px 50px rgba(28, 4, 241, 0.548);
        }

        .img{

            width: 70px;
            
            /* height: 70px; */
            
            border-radius: 60%;
            /* margin: 0; */
            /* padding: 0; */
          
            }
        .img:hover{
        
            transform: translateY(-10px);
            box-shadow: 0px 20px 50px rgba(28, 4, 241, 0.548);}

    /* .div1 {
    background-color: whitesmoke;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    } */
    /* .div1:hover{
        transform: translateY(-10px);
        box-shadow: 0px 20px 50px rgba(28, 4, 241, 0.548);;
    } */
    /* h3{
        color: rgb(177, 177, 177);
    } */
    /* .h3{
        padding: 14px;
    
        text-align: center;    
    } */
    /* .hr{
        padding: 14px;
        
        text-align: center;
    } */
    /* .ahuaru{
        padding: 14px;
        
        text-align: center;
    } */
    /* .div2{
    
        background-color: whitesmoke;
    width: 170px;
    height: 50px;
    border-radius: 50px;
    } */
    /* .div2:hover{
        transform: translateY(-10px);
        box-shadow: 0px 20px 50px rgba(28, 4, 241, 0.548);
    } */
    /* .li{
       
       
        display: flex;
        justify-content: space-between;
        padding-right: 40px;
        padding-bottom: 100px;
        
    } */
    /* .navbar{ */
        /* width: 100%; */
        /* height: 70px; */
        /* display:inline-block; */
       /* background-color: rgb(177, 177, 177); */
       /* background-image: url('../im\ the\ one.png'); */
        /* border-radius: 30px; */
        /* margin-top: 10px; */
        
        
    /* } */
    /* -------------------------------------- */

